/*
 * Styles for the Tag Diff
 */
span.diff-tag-html {
  font-family: "Andale Mono" monospace;
  font-size: 80%;
}

span.diff-tag-removed {
  font-size: 100%;
  text-decoration: line-through;
  background-color: #fdc6c6; /* light red */
}

span.diff-tag-added {
  font-size: 100%;
  background-color: #ccffcc; /* light green */
}

span.diff-tag-conflict {
  font-size: 100%;
  background-color: #f781be; /* light rose */
}

/*
 * Styles for the HTML Diff
 */
span.diff-html-added {
  font-size: 100%;
  background-color: #ccffcc; /* light green */
  cursor: pointer;
}

span.diff-html-removed {
  font-size: 100%;
  text-decoration: line-through;
  background-color: #fdc6c6; /* light red */
    cursor: pointer;
}

span.diff-html-changed {
  *background-color: #c6c6fd; /* light blue */
  cursor: pointer;
}

span.diff-html-conflict {
  background-color: #f781be; /* light rose */
}

span.diff-html-selected {
  background-color: #FF8800; /* light orange */
  cursor: pointer;
}

span.diff-html-selected img{
   border: 2px solid #FF8800; /* light orange */
}

span.diff-html-added img{
 border: 2px solid #ccffcc;
}

span.diff-html-removed img{
 border: 2px solid #fdc6c6;
}

span.diff-html-changed img{
 border: 2px dotted #000099;
 
img.diff-icon {
  background-color: #FF8800;
  jidth: 16px;
  height: 16px;
  border: 0px none;
}
a.diffpage-html-a, a.diffpage-html-a:hover, a.diffpage-html-a:link, a.diffpage-html-a:visited, a.diffpage-html-a:active {
  text-decoration: none;
  color: #FF8800;
}

.diffpage-html-firstlast a img, .dsydiff-prevnextnav a img {
  vertical-align: middle;
}

ul.changelist {
  padding-left: 15px;
}
