@import "/widgy/css/widgy_common";

// Layout
.widgy {
  .tabbed {
    > .widget > .nodeChildren {
      @include box-sizing(border-box);
      @include clearfix;
      width: 100% !important;

      > li {
        display: inline-block;
        float: left;

        // Only show the buttons if we are on the current tab.
        &:not(.active) {
          .edit, .delete {
            display: none;
          }
        }

        &.node_drop_target {
          margin-bottom: 0;
          width: 50px;

          &.active {
            width: 100px;
          }
        }

        .drag-row {
          @include cursor(pointer);
        }
        .draggable > .drag-row {
          @include cursor(grab, pointer);
        }
        &.being_dragged .drag-row {
          @include cursor(grabbing, pointer);
        }
      }
    }

    .current {
      clear: both;
      width: 100%;
    }
  }

  // if the tabs are at the root level make the current tab look
  // like a root level node.
  section.tabbed > .widget > .current {
    float: left;
    width: 63%;
  }
}

@import "tabbed-theme.admin.scss";
