sqlite_database
*.pyc
src/
static/*
media/*
demo/media/*
!.gitkeep
.sass-cache/
tmp/
settings_local.py
build/
tags
dist/
*.egg-info/
CACHE/
.tox/
tests/.coverage
tests/coverage_html/
js_tests/node_modules
js_tests/coverage.html
js_tests/coverage_js/
