language: python
python:
  - "2.7"
  - "2.6"
env:
  global:
    - SOUTH_TESTS_MIGRATE=1
  matrix:
    - DATABASE_ENGINE=sqlite DJANGO_PACKAGE=https://github.com/django/django/archive/1.7a2.tar.gz
    - DATABASE_ENGINE=sqlite DJANGO_PACKAGE=https://github.com/django/django/archive/stable/1.6.x.zip
    - DATABASE_ENGINE=sqlite DJANGO_PACKAGE=Django==1.5.1
    - DATABASE_ENGINE=sqlite DJANGO_PACKAGE=Django==1.4.5
    - DATABASE_ENGINE=postgres DJANGO_PACKAGE=https://github.com/django/django/archive/1.7a2.tar.gz
    - DATABASE_ENGINE=postgres DJANGO_PACKAGE=https://github.com/django/django/archive/stable/1.6.x.zip
    - DATABASE_ENGINE=postgres DJANGO_PACKAGE=Django==1.5.1
    - DATABASE_ENGINE=postgres DJANGO_PACKAGE=Django==1.4.5
    - DATABASE_ENGINE=mysql DJANGO_PACKAGE=https://github.com/django/django/archive/1.7a2.tar.gz
    - DATABASE_ENGINE=mysql DJANGO_PACKAGE=https://github.com/django/django/archive/stable/1.6.x.zip
    - DATABASE_ENGINE=mysql DJANGO_PACKAGE=Django==1.5.1
    - DATABASE_ENGINE=mysql DJANGO_PACKAGE=Django==1.4.5
matrix:
  include:
    - python: "2.7"
      env: JAVASCRIPT=1
  exclude:
    - python: "2.6"
      env: DJANGO_PACKAGE=https://github.com/django/django/archive/1.7a2.tar.gz
install: |
  if [ -z "$JAVASCRIPT" ]
  then
    pip install --upgrade pip
    pip install -q $DJANGO_PACKAGE --use-mirrors
    pip install -q --use-mirrors mock

    if [ "$DATABASE_ENGINE" = "mysql" ]
    then
      pip install -q --use-mirrors MySQL-python
    fi

    if [ "$DATABASE_ENGINE" = "postgres" ]
    then
      pip install -q --use-mirrors psycopg2
    fi
    pip install --use-mirrors .

    if echo "$DJANGO_PACKAGE" | grep -q '1.6.x'
    then
      pip install --use-mirrors -e git://github.com/fusionbox/mezzanine@69acbfd#egg=mezzanine
    fi
    pip freeze
  fi
before_script:
  - psql -c 'create database widgy;' -U postgres
  - mysql -e 'create database widgy;'
script: |
  if [ -z "$JAVASCRIPT" ]
  then
    make test-py
  else
    make test-js
  fi
