language: python
python:
  - "2.7"
  - "2.6"
env:
  global:
    - SOUTH_TESTS_MIGRATE=1
  matrix:
    - DATABASE_ENGINE=sqlite DJANGO_PACKAGE=https://github.com/django/django/archive/stable/1.6.x.zip
    - DATABASE_ENGINE=sqlite DJANGO_PACKAGE=https://github.com/django/django/archive/stable/1.4.x.zip
    - DATABASE_ENGINE=postgres DJANGO_PACKAGE=https://github.com/django/django/archive/stable/1.6.x.zip
    - DATABASE_ENGINE=postgres DJANGO_PACKAGE=https://github.com/django/django/archive/stable/1.4.x.zip
    - DATABASE_ENGINE=mysql DJANGO_PACKAGE=https://github.com/django/django/archive/stable/1.6.x.zip
    - DATABASE_ENGINE=mysql DJANGO_PACKAGE=https://github.com/django/django/archive/stable/1.4.x.zip
matrix:
  include:
    - python: "2.7"
      env: JAVASCRIPT=1
install: |
  set -e
  if [ -z "$JAVASCRIPT" ]
  then
    pip install --upgrade pip
    pip install -q $DJANGO_PACKAGE --use-mirrors
    pip install -q --use-mirrors mock
    pip install -q --use-mirrors South

    if [ "$DATABASE_ENGINE" = "mysql" ]
    then
      pip install -q --use-mirrors MySQL-python
    fi

    if [ "$DATABASE_ENGINE" = "postgres" ]
    then
      pip install -q --use-mirrors psycopg2
    fi
    pip install --use-mirrors -e .[page_builder,form_builder,widgy_mezzanine]
    pip freeze
  fi
before_script:
  - psql -c 'create database widgy;' -U postgres
  - mysql -e 'create database widgy;'
script: |
  if [ -z "$JAVASCRIPT" ]
  then
    make test-py
  else
    make test-js
  fi
