language: python

python:
  - "2.7"

cache:
  directories:
    - $HOME/.pip-cache/

sudo: false

env:
  global:
    - SOUTH_TESTS_MIGRATE=True
  matrix:
    - TOX_ENV=py26-dj16-sqlite
    - TOX_ENV=py26-dj16-mysql
    - TOX_ENV=py26-dj16-postgres
    - TOX_ENV=py27-dj16-sqlite
    - TOX_ENV=py27-dj16-mysql
    - TOX_ENV=py27-dj16-postgres
    - TOX_ENV=py27-dj17-sqlite
    - TOX_ENV=py27-dj17-mysql
    - TOX_ENV=py27-dj17-postgres
    - TOX_ENV=py27-dj18-sqlite
    - TOX_ENV=py27-dj18-mysql
    - TOX_ENV=py27-dj18-postgres
    - TOX_ENV=py26-dj16-contrib-sqlite
    - TOX_ENV=py26-dj16-contrib-mysql
    - TOX_ENV=py26-dj16-contrib-postgres
    - TOX_ENV=py27-dj16-contrib-sqlite
    - TOX_ENV=py27-dj16-contrib-mysql
    - TOX_ENV=py27-dj16-contrib-postgres
    - TOX_ENV=py27-dj17-contrib-sqlite
    - TOX_ENV=py27-dj17-contrib-mysql
    - TOX_ENV=py27-dj17-contrib-postgres
    - TOX_ENV=py27-dj18-contrib-sqlite
    - TOX_ENV=py27-dj18-contrib-mysql
    - TOX_ENV=py27-dj18-contrib-postgres
    - TOX_ENV=javascript

install:
  - pip install --upgrade pip
  - pip install tox

before_script:
  - psql -c 'create database widgy;' -U postgres
  - mysql -e 'create database widgy;'

script:
  - tox -e $TOX_ENV

after_script:
  - cat .tox/$TOX_ENV/log/*.log
