-e git://github.com/fusionbox/django-fusionbox.git#egg=django_fusionbox
Django==1.4.2
South
Werkzeug
django-cachebuster
django-compressor
django-debug-toolbar
django-extensions
Mezzanine
http://github.com/fusionbox/pyScss/tarball/master#egg=pyscss-1.1.5
django-treebeard==1.61
psycopg2==2.4.5
Sphinx==1.1.3
