%horizontalChildren {
  & > .widget > .drag-row {
    span.title {
      display: none;
    }
  }

  & > .widget > .nodeChildren {
    display: table;
    width: 100%;

    & > li {
      display: table-cell;
      width: auto;

      & > .widget > .drag-row {
        span.title,
        .delete span {
          display: none;
        }
      }
    }
  }
}

.tableheader {
  @extend %horizontalChildren;
}

.tablerow {
  @extend %horizontalChildren;
}
