%horizontalChildren {
  & > .nodeChildren {
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: all 1s;

    &:hover {
      table-layout: auto;
    }

    & > li {
      display: table-cell;
      width: auto;

      & > .content .drag-row {
        span.title,
        .delete span {
          display: none;
        }
      }
    }
  }
}

.widgy:not(.node_in_motion) {
  %horizontalChildren {
    & > .nodeChildren > li:not(:hover) {
      .drag-row, :empty, .shelf {
        display: none;
      }

      * {
        display: inline;
      }

      .node {
        background-color: transparent;
        border: none;
      }
    }
  }
}

.tableheader {
  @extend %horizontalChildren;
}

.tablerow {
  @extend %horizontalChildren;

  & > .content .drag-row span.title {
    display: none;
  }
}
