@import "/widgy/css/widgy_common.scss";

li.node,
li.shelfItem {
  @include node-icon-sprite("form_builder.choicefield", "widget-radio");
  @include node-icon-sprite("form_builder.emailsuccesshandler", "widget-email");
  @include node-icon-sprite("form_builder.emailuserhandler", "widget-email");
  @include node-icon-sprite("form_builder.form", "widget-form");
  @include node-icon-sprite("form_builder.forminput", "widget-form");
  @include node-icon-sprite("form_builder.multiplechoicefield", "widget-checkbox");
  @include node-icon-sprite("form_builder.savedatahandler", "widget-save-data");
  @include node-icon-sprite("form_builder.submitbutton", "widget-button");
  @include node-icon-sprite("form_builder.textarea", "widget-textarea");
  @include node-icon-sprite("form_builder.uncaptcha", "widget-hidden-field");
  @include node-icon-sprite("form_builder.webtoleadmapperhandler", "widget-salesforce");
  @include node-icon-sprite("form_builder.fieldmappingvalue", "widget-icon-mapped-field");
}
