@import "/widgy/css/widgy_common.scss";

li.node,
li.shelfItem {
  @include node-icon("form_builder.choicefield", "../image/widget-radio.png");
  @include node-icon("form_builder.emailsuccesshandler", "../image/widget-email.gif");
  @include node-icon("form_builder.emailuserhandler", "../image/widget-email.gif");
  @include node-icon("form_builder.form", "../image/widget-form.gif");
  @include node-icon("form_builder.forminput", "../image/widget-form.gif");
  @include node-icon("form_builder.multiplechoicefield", "../image/widget-checkbox.png");
  @include node-icon("form_builder.savedatahandler", "../image/widget-save-data.png");
  @include node-icon("form_builder.submitbutton", "../image/widget-button.png");
  @include node-icon("form_builder.textarea", "../image/widget-textarea.gif");
  @include node-icon("form_builder.uncaptcha", "../image/widget-hidden-field.png");
  @include node-icon("form_builder.webtoleadmapperhandler", "../image/widget-salesforce.png");
  @include node-icon("form_builder.fieldmappingvalue", "../image/widget-icon-mapped-field.png");
}
