/* Submit Button-Specific Styles 
-----------------------------------*/

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

input[type='submit'], button[type='submit'] {
  @include clearfix;
  clear: both;
  float: right;
  margin: 0px 0px 15px 10px;
  
  & + input[type='submit'], & + button[type='submit'] {
    clear: none;
  }
}
