{% load i18n %}
{% load widgy_tags %}

<ul class="object-tools">
  {% for owner in tracker.owners %}
    {% get_action_links owner tracker.working_copy as links %}
    {% for link in links %}
      <li><a class="button {{ link.type }}" target="_blank" href="{{ link.url }}">{{ link.text }}</a></li>
    {% endfor %}
  {% endfor %}
  {% for diff_url in diff_urls %}
    <li><a class="button diff" target="_blank" href="{{ diff_url }}">{% trans "View Diff" %}</a></li>
  {% endfor %}
</ul>

<form method="post" class="commit_form" action="{{ action_url }}">
  {% csrf_token %}
  {{ form.media }}

  {% include "widgy/field_as_div.html" with field=form.message %}

  <div class="publish_at formField">
    {{ form.publish_at.label_tag }}
    {{ form.publish_radio }}

    <div class="publish_at_container">
      {{ form.publish_at }}
      {{ form.publish_at.errors }}
    </div>

    {% if form.publish_at.help_text %}
      <p class="help_text">{{ form.publish_at.help_text }}</p>
    {% endif %}
  </div>

  <p class="submitRow">
    {% block submit_row %}
      <input type="submit" value="{% trans 'Commit' %}">
    {% endblock %}
  </p>
</form>
