{% load fusionbox_tags %}
{% load literal_include %}
{% load compress %}
<!doctype html>
<html>
<head>
  <title>Widgy</title>
  {% compress css %}
  <link type="text/x-scss" rel="stylesheet" href="{% static "widgy/css/widgy.scss" %}">
  {% endcompress %}
</head>
<body>

  <div id="app" class="widgy"></div>

  <script data-main="/static/widgy/js/main" src="{% static "widgy/js/require/require.js" %}"></script>
  <script>
    require([ 'widgy' ], function(Widgy) {
      window.widgy = new Widgy('#app', {{ page.to_json|json }});
    });
  </script>
</body>
</html>
