{% load fusionbox_tags %}
{% load literal_include %}
<!doctype html>
<html>
<head>
  <title>Widgy</title>
  <script data-main="/static/widgy/js/main" src="{% static "widgy/js/require/require.js" %}"></script>
  <script>
    require([ 'widgy.core' ], function(Widgy) {
      window.widgy = new Widgy('#app', {{ page.to_json|json }});
    });
  </script>
</head>
<body>

  <div id="app"></div>

  <style>
    #app {
      width: 500px;
    }

    .node {
      border: 1px #000 solid;
      margin: 1em;
    }

    .node_drop_target {
      width: 100%;
      height: 50px;
      background-color: yellow;
    }

    .being_dragged {
      background-color: blue;
    }

    .repositioned {
      background-color: steelblue;
    }
  </style>
</body>
</html>
