{% load url from future %}
{% load i18n %}
{% load static %}
<script src="{% static 'widgy/js/lib/jquery.form.js' %}'"></script>

<div class="commit popUp">
  <h2>{% trans "Commit Changes" %}</h2>
  {% if changed_anything %}
    {% block commit_form %}
      {% include "widgy/_commit_form.html" with commit=object.working_copy action_url=commit_url %}
    {% endblock %}
    <script>
      $('.commit_form').ajaxForm({target: 'div.commit'});
    </script>
  {% else %}
    <p>{% trans "Nothing has changed -- no need to commit." %}</p>
  {% endif %}
</div>
</body>
