{% load compress static %}
<div class="popUp">
  {% if permission_error_message %}
    {% block perms_lacking %}
      <h2 class="denied">{{ permission_error_message }}</h2>
    {% endblock %}
  {% else %}
    {% block content %}
    {% endblock %}
  {% endif %}
</div>
{% compress js %}
<script src="{% static 'widgy/js/lib/jquery.form.js' %}"></script>
<script src="{% static 'widgy/js/popup.js' %}"></script>
{% endcompress %}
{# this will insert a debug toolbar when viewing the popup as #}
{# a standalone page. #}
</body>
