<p class="drag-row">
  {% if self.draggable %}
  <span class="drag_handle dragHandle icon-move"></span>
  {% endif %}
  
  <span class="{{ self.class_name }} title">{{ self.meta.verbose_name }}</span>
  
  {% if self.editable %}
  <button class="edit"><span class="icon-edit"></span> Edit</button>
  {% endif %}
  {% if self.deletable %}
  <button class="delete"><span class="icon-remove"></span> Delete</button>
  {% endif %}
  {% if self.pop_out %}
  <a href="{{ edit_url }}" class="pop_out">pop out</a>
  {% endif %}
</p>
<div class="preview">
  {% block content %}
  {% endblock %}
</div>
