{% load i18n %}
<div class="widget{% if self.draggable %} draggable{% endif %}">
  {% block drag-row %}
  <p class="drag-row">
    {% if self.draggable %}
    <span class="drag_handle dragHandle icon-move"></span>
    {% endif %}
    
    {% block title %}
    <span class="title">{{ self.display_name|capfirst }}</span>
    {% endblock %}
    
    {% if self.deletable %}
    <button class="delete"><i class="fa fa-remove"></i> <span>{% trans "Delete" %}</span></button>
    {% endif %}
    {% if self.editable %}
    <button class="edit"><i class="fa fa-pencil"></i> <span>{% trans "Edit" %}</span></button>
    {% endif %}
    {% if self.pop_out %}
    <a href="{{ edit_url }}" class="pop_out">{% trans "pop out" %}</a>
    {% endif %}
  </p>
  {% endblock %}

  {# This needs to have no newlines in order to be :empty #}
  <div class="preview">{% block content %}{% endblock %}</div>

  {% block children %}
  <ul class="node_children nodeChildren"></ul>
  {% endblock %}
</div>
