{% extends "widgy/popup_base.html" %}
{% load i18n %}

{% block popup-content %}
  {% if not has_commits %}
  <p>{% trans "There are no commits yet, nothing to reset to" %}</p>
  {% elif changed_anything %}
  <p>{% trans "This will irrevocably destroy all uncommited changes. Are you sure?" %}</p>
    <form method="post" action="{{ reset_url }}">
      {% csrf_token %}
      <p class="submitRow"><input type=submit value="{% trans 'Yes' %}"></p>
    </form>
  {% else %}
    <p>{% trans "Nothing has changed &mdash; no need to reset." %}</p>
  {% endif %}
{% endblock %}
