{% load url from future %}
{% load i18n %}
<script src="{% static 'js/jquery.form.js' %}'"></script>

<div class="reset popUp">
  <h2>{% trans "Reset" %}</h2>
  {% if not has_commits %}
  <p>{% trans "There are no commits yet, nothing to reset to" %}</p>
  {% elif changed_anything %}
  <p>{% trans "This will irrevocably destroy all uncommited changes. Are you sure?" %}</p>
    <form method="post" action="{{ reset_url }}">
      {% csrf_token %}
      <p class="submitRow"><input type=submit value="{% trans 'Yes' %}"></p>
    </form>
    <script>
      $('.reset form').ajaxForm({target: 'div.reset'});
    </script>
  {% else %}
    <p>{% trans "Nothing has changed -- no need to reset." %}</p>
  {% endif %}
</div>
</body>
