{% extends "widgy/widgy_field.html" %}
{% load compress static i18n %}
{% block widgy_container %}
{% compress css %}
<link rel="stylesheet" href="{% static 'widgy/css/jquery.fancybox.css' %}">
<link rel="stylesheet" href="{% static 'widgy/css/django.fusionbox.scss' %}" type="text/x-scss">
{% endcompress %}
<ul class="widgy-tools">
  {% block widgy_tools %}
  <li><a class="commit" href="{{ commit_url }}">{% trans "Commit" %}</a></li>
  <li><a class="reset" href="{{ reset_url }}">{% trans "Reset" %}</a></li>
  {% endblock %}
</ul>
{{ block.super }}
{% endblock %}
