{% extends "widgy/widgy_field.html" %}{% load compress %}{% load static %}
{% block widgy_container %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
{% endcompress %}
<ul class="widgy-tools">
  {% block widgy_tools %}
  <li><a class="widgy-fancybox commit" href="{{ commit_url }}">Commit</a></li>
  <li><a class="widgy-fancybox reset" href="{{ reset_url }}">Reset</a></li>
  {% endblock %}
</ul>
{% compress js %}
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script>
  $(function() {
    $('a.widgy-fancybox').fancybox({
      type: 'ajax'
    });
    window.closeFancybox = $.fancybox.close;
  });
</script>
{% endcompress %}
{{ block.super }}
{% endblock %}
