{% load compress %}{% load fusionbox_tags %}{% load static %}
{% comment %}
Hitting return in a form clicks its first button. Without this dummy
button, the first button in the form would be a widget's delete button.
So instead of submitting the form as expected, <RET> would delete a
widget! The button can't be `display: none` because then it won't be
used.

name=_continue makes 'Save and continue editing' the default behavior in
the admin center.
{% endcomment %}
<input type="submit" name="_continue" style="position: absolute; left: -10000px;">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
{% compress css %}
<link type="text/css" rel="stylesheet" href="{% static 'widgy/css/font-awesome.css' %}">
<link type="text/x-scss" rel="stylesheet" href="{% static 'widgy/css/widgy.scss' %}">
{% for scss_file in site.admin_scss_files %}
<link type="text/x-scss" href="{% static scss_file %}" rel="stylesheet">
{% endfor %}
{% endcompress %}
{% if html_name %}
<input type="hidden" name="{{ html_name }}" value="{{ value }}">
{% endif %}
<script data-main="/static/widgy/js/main" src="/static/widgy/js/require/require.js"></script>
{% block widgy_container %}
<div id="{{ html_id }}" class="widgy"></div>
{% endblock %}
<script>
  require([ 'widgy' ], function(Widgy) {
    window.widgy = new Widgy('#' + {{ html_id|json }}, {{ node_dict|json }}, {{ api_url|json }});
  });
</script>
