{% load compress %}{% load fusionbox_tags %}
{% compress css %}
<link type="text/x-scss" href="{% static "widgy/css/widgy.scss" %}" rel="stylesheet">
{% for sheet in stylesheets %}
<link type="{{ sheet.type }}" href="{% static sheet.filename %}" rel="stylesheet">
{% endfor %}
{% endcompress %}
{% if name %}
<input type="hidden" name="{{ name }}" value="{{ value }}">
{% endif %}
<script data-main="/static/widgy/js/main" src="/static/widgy/js/require/require.js"></script>
<div id="{{ html_id }}" class="widgy"></div>
<script>
  require([ 'widgy' ], function(Widgy) {
    window.widgy = new Widgy('#' + {{ html_id|json }}, {{ node|json }});
    window.root_node = widgy.app.root_node_view;
  });
</script>
