{% load i18n %}
{% load url from future %}
{% load widgy_tags %}

{% if commit.is_approved %}
  {% blocktrans with approved_by=commit.approved_by approved_at=commit.approved_at|date:"SHORT_DATETIME_FORMAT" %}
    , approved by {{ approved_by }} at
    {{ approved_at }}
  {% endblocktrans %}
{% else %}
  {% trans ", not approved yet." %}
{% endif %}
{% if commit.publish_at > commit.created_at  %}
  (
  {% if not commit.is_published %}
    <span title="Not live yet">
    {% trans "Scheduled to be published at" %}
  {% else %}
    {% trans "Published at" %}
  {% endif %}
    {{ commit.publish_at|date:"SHORT_DATETIME_FORMAT" }}
  )
  {% if not commit.is_published %}
    *</span>
  {% endif %}
{% endif %}
<div class="actions">
  {% if commit.root_node != commit.tracker.head.root_node %}
    <a class="button widgy-fancybox" href="{% reverse_site_url site 'revert_view' pk=commit.tracker.pk commit_pk=commit.pk %}">{% trans "Revert to this Version" %}</a>
  {% else %}
    {% trans "Can't revert; this is the same as the current version." %}
  {% endif %}
  {% if can_approve_commit %}
    {% if not commit.is_approved %}
      <form method="post" action="{% reverse_site_url site 'approve_view' pk=commit.tracker.pk commit_pk=commit.pk %}">
        <input class="button approve" type="submit" value="{% trans "Approve this commit" %}">
    {% else %}
      {# unapprove_view avoid generating a UndoApprovalsForm for each commit #}
      <form method="post" action="{% reverse_site_url site 'unapprove_view' pk=commit.tracker.pk commit_pk=commit.pk %}">
        <input class="button unapprove" type="submit" value="{% trans "Unapprove this commit" %}">
    {% endif %}
      {% csrf_token %}
    </form>
  {% endif %}
  {% if commit.diff_url %}
    <a class="button" href="{{ commit.diff_url }}">{% trans "Diff" %}</a>
  {% endif %}
  <a class="button" href="{% url 'widgy.contrib.widgy_mezzanine.views.preview' node_pk=commit.root_node.pk %}">{% trans "View" %}</a>
</div>
