{% load fusionbox_tags %}{{ field.errors }}
<div id="{{ field.html_name }}_container" class="{{field.name}} {{field.html_name}}{% if field.field.required %} required{% endif %}{% if field.errors %} error{% endif %} formField">
  <label for="{{ field.id_for_label }}">Uncaptcha: </label>
  <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
  <p class="help_text">Please copy "{{ csrf_token }}" into the field labeled "Uncaptcha"</span>
</div>
<script type="text/javascript">
  (function() {
    document.getElementById({{ field.html_name|json }} + "_container").style.display = 'none';
    var csrf_token = document.getElementsByName('csrfmiddlewaretoken');
    if ( csrf_token.length ) {
      var uncaptcha = document.getElementById({{ field.id_for_label|json }});
      uncaptcha.value = csrf_token[0].value;
    }
  })();
</script>
