p.file-upload {
  float: left;
  width: 692px;

  span.clearable-file-input {

    input {
      margin: 0px;
    }

    label {
      display: inline-block;
      float: none;
      width: auto;
    }

  }

}

body.popup {
  #container {
    position: relative;

    #content-main {
      display: block;
      float: none;
      min-width: 44em;
      width: auto;

      .object-tools {
        float: left;
      }
    }

    #content-related {
      position: absolute;
      margin-right: 0;
      top: 15px;
      right: 15px;
      width: 18em;
    }
  }
}

body.filebrowser {
  #content {
    margin-top: 100px;

    #content-main {
      display: block;
      float: none;
      min-width: 44em;
      width: auto;

      .object-tools {
        float: left;
      }
    }

    #content-related {
      position: absolute;
      margin-right: 0;
      top: 115px;
      right: 15px;
      width: 18em;
    }
  }
}

#changelist-search input[type="submit"] {
  background-image: none;
  background: #309BBF;
  height: 20px;
  padding: 0px 2px;

  &:hover {
    background: #38B9E6;
  }
}

#changelist-search input[type='checkbox'] {
  margin: 0px 0px 0px 10px;
  top: 2px;
}
