p.file-upload {
  float: left;
  width: 692px;

  span.clearable-file-input {

    input {
      margin: 0px;
    }

    label {
      display: inline-block;
      float: none;
      width: auto;
    }

  }

}

body.filebrowser {
  #content {
    margin-top: 100px;
  }

  .object-tools {
    position: absolute;
    right: 12px;
  }

  #content-main {
    display: block;
    float: none;
    min-width: 44em;
    width: auto;
  }

  #content-related {
    position: absolute;
    margin-right: 0;
    top: 116px;
    right: 15px;
    width: 18em;
  }
}

body.popup {
  #container {
    position: relative;
  }

  #content-related {
    top: 16px;
  }
}

#changelist-search input[type="submit"] {
  background-image: none;
  background: #309BBF;
  height: 20px;
  padding: 0px 2px;

  &:hover {
    background: #38B9E6;
  }
}

#changelist-search input[type='checkbox'] {
  margin: 0px 0px 0px 10px;
  top: 2px;
}
