p.file-upload {
  float: left;
  width: 692px;
  
  span.clearable-file-input {
    
    input {
      margin: 0px;
    }
    
    label {
      display: inline-block;
      float: none;
      width: auto;
    }
    
  }

}

#content-related {
  float: right;
  margin-right: 0;
  position: absolute;
  right: 15px;
  top: 0;
  width: 18em;
}

#changelist-search input[type="submit"] {
  background-image: none;
  background: #309BBF;
  
  &:hover {
    background: #38B9E6;
  }
}