/*
 * Common SCSS File - SCSS v1.0
 * last edited 02/17/12
 * @author Justin Stollsteimer - Fusionbox, Inc. 
 * http://www.fusionbox.com
 *
 *
 * Lists: Line 
 * HR: Line 
 * Table: Line 
 * Form Elements: Line 
 *
 */


/* HR (usable as HTML property or div class)
------------------------------------------------------*/

hr {
  @include default;
  background: transparent;
  border-width: 0px;
  font-size: 0px;
  height: 1px;
  line-height: 0px;
}


/*| Table (styling for generic table)
------------------------------------------------------*/

table { 
  border-collapse: collapse;
  display: table; 
  margin: 0px 0px 15px 0px;
  width: 100%; 
  float: none;
}

th { 
  border: 1px solid;
  font-weight: bold; 
  padding: 5px 8px; 
}

td { 
  border: 1px solid; 
  padding: 5px 8px; 
}

/* Common Classes 
------------------------------------------------------*/

strong, 
.strong {
  font-weight: bold; 
}
  
em, 
.em { 
  font-style: italic; 
}
  
sup {
  font-size: 60% !important;
  position: relative; 
}

p, h1, h2, h3, h4, h5, h6 {
  @include default;
}


/* Block Elements
------------------------------------------------------*/

pre {
  display: block;
  margin: 10px 0px;
  padding: 15px 25px;
  width: auto;
  background: #dddddd;
  font-style: monospace;
}

blockquote {
  display: block;
  margin: 10px 0px;
  padding: 15px 25px;
  width: auto;
  background: #dddddd;
  font-style: italic;
}
      
code { 
  background: #dddddd; 
  font-style: monospace;
}


/* Misc CKEditor Styles Tags
------------------------------------------------------*/

tt, kbd, samp, code { font-family: monospace; }
cite { font-style: italic; padding: 10px; }
small { font-size: 70%; line-height: 120%; display: inline-block; }
big { font-size: 150%; }
address { display: inline; font-style: italic; }
q { font-style: italic; }
var { font-weight: bold; }
del { text-decoration: line-through; }

.error, .errors li { color: #A53A3A; }

label.required:after, span.required:after { content: '*'; color: #cc2222; }


/* SASS Mixins
--------------------------------------------------*/

@mixin shadow($color: rgba(0,0,0,0.3), $left: 0px, $top: 0px, $blur: 8px) {
  box-shadow: $left $top $blur $color;
    -o-box-shadow: $left $top $blur $color;
    -ms-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    -webkit-box-shadow: $left $top $blur $color;
}

@mixin inset-shadow($color: rgba(0,0,0,0.3), $left: 0px, $top: 0px, $blur: 8px) {
  box-shadow: inset $left $top $blur $color;
    -o-box-shadow: inset $left $top $blur $color;
    -ms-box-shadow: inset $left $top $blur $color;
    -moz-box-shadow: inset $left $top $blur $color;
    -webkit-box-shadow: inset $left $top $blur $color;
}


@mixin text-shadow($color: rgba(0,0,0,0.3), $left: 0px, $top: 0px, $blur: 8px) {
  text-shadow: $left $top $blur $color;
    -o-text-shadow: $left $top $blur $color;
    -moz-text-shadow: $left $top $blur $color;
    -webkit-text-shadow: $left $top $blur $color;
}

@mixin rounded($radius) {
  border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin gradient($bottom,$top) {
  background-color: $bottom;
    background-image: -o-linear-gradient(center bottom, $bottom 1%, $top 100%);
    background-image: -ms-linear-gradient(center bottom, $bottom 1%, $top 100%);
    background-image: -moz-linear-gradient(center bottom, $bottom 1%, $top 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, $bottom), color-stop(1.00, $top));
}

@mixin default {
  display: inline;
  float: left;
  height: auto;
  width: 100%;
}

@mixin inner {
  display: block;
  margin: 0 auto;
  padding: 0px;
  text-align: left;
  width: 960px;
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

@mixin wrapper {
  display: block;
  height: auto;
  min-width: 960px;
  position: relative;
  width: 100%;
  z-index: 1;
}

@mixin html {
  h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, hgroup, hr {
    display: block !important;
    float: none !important;
    margin: 0px 0px 15px 0px !important;
    width: auto !important;
  }
  .fl { float: left; margin: 0px 25px 15px 0px; }
  .fr { float: right; margin: 0px 0px 15px 25px; }
  img { @include rounded(2px); &.left { float: left; margin: 5px 20px 15px 0px; } &.right { float: right; margin: 5px 0px 15px 20px; }}
  table { display: table; width: 100% !important; }
}


/* Variables
-----------------------------------------------*/

$black10: rgba(0,0,0,0.1);
$white20: rgba(255,255,255,0.2);
$darkgrey:    #888888;
$red:         #BF3030;
$blue:        #309BBF;
$green:       #559911;

