@import 'widgy_common.scss';

$label_width: 150px;

// Clean up grappelli-safe leftovers
.popup {
  .breadcrumbs,
  #footer {
    display: none;
    margin: 0 !important;
    padding: 0 !important;
  }

  #container {
    min-width: 660px;
  }

  #content {
    margin: 0 15px !important;
  }
}

.popUp {
  background: white;
  display: block;

  .loading {
    @extend %loading;
  }

  .denied {
    color: $red;
  }

  .formField {
    @include clearfix;

    margin-bottom: 1em;

    & > label {
      display: block;
      float: left;
      width: $label_width;
    }

    #{$inputFields},
    textarea {
      width: 500px;
    }

    textarea {
      height: 100px;
    }

    input.vDateField, input.vTimeField {
      width: 100px;
    }

    p.help_text {
      color: $grey;
      font-size: 11px;
      font-style: italic;
      margin-top: 10px;
    }

    ul {
      li {
        label {
          margin: 0 10px;
          width: auto;

          input {
            margin: 0;
          }
        }
      }
    }

    &.publish_at {
      li {
        display: inline-block;
      }

      ul {
        display: inline-block;
        margin-bottom: 1em;
      }

      .publish_at_container {
        @include clearfix;

        margin-left: $label_width;
      }
    }
  }

  .submitRow {
    margin-left: 5px;
    float: right;
    font-size: 11px;
    text-transform: capitalize;
    line-height: 13px;
    padding: 6px 10px !important;

    input[type=submit] {
      @include rounded(3px);
      background: $blue;
      border: 0px;
      margin-left: 5px;
      float: right;
      font-size: 11px;
      text-transform: capitalize;
      line-height: 13px;
      padding: 6px 10px !important;

      &:hover {
        background: lighten($blue,10%);
        color: white;
      }
    }
  }
}
