@mixin rounded($radius) {
  border-radius: $radius !important;
    -o-border-radius: $radius !important;
    -ms-border-radius: $radius !important;
    -moz-border-radius: $radius !important;
    -webkit-border-radius: $radius !important;
}

/*
div.widgy div.editor section.node div.widget > ul.nodeChildren {
  width: 100% !important;
}
*/

div.widgy div.editor section.tabbed > div.widget > ul.nodeChildren {
  float: left !important;
  width: 63% !important;

  > li {
    @include rounded(4px 4px 0px 0px);
    background: #eeeeee !important;
    border-color: #cccccc;
    border-width: 1px 1px 0px 1px;
    color: #999999;
    display: inline-block;
    float: left;
    margin: 0 0 0 .5em !important;
    padding: 0px 5px !important;
    position: relative;
    top: 2px;
    z-index: 10;
    
    .widget {
      background: transparent !important;

      .drag-row {
        @include rounded(0px);
        background: transparent !important;
        
        span.title {
          color: inherit;
        }
        
        .edit, // functionality for editing the tab doesn't exist yet.
        .delete span {
          display: none;
        }

        .preview {
          background: transparent;
          display: inline;
        }
      }
    }

    .preview,
    .nodeChildren {
      display: none;
    }
    
    &:hover {
      background-color: white !important;
    }

    &.active {
      background-color: #fafafa !important;
      border-bottom: 2px solid #fafafa;
      color: #555555;
    }
  }
}

.widgy section.tabbed > .widget > .current {
  border-top: 2px solid #cccccc;
  clear: left;
  float: left;
  padding-top: 10px;
  width: 63%;
}
