.widgy .tabbed > .widget > .nodeChildren > li {
  display: inline-block;

  .drag-row {
    .edit, // functionality for editing the tab doesn't exist yet.
    .delete span {
      display: none;
    }
  }

  .preview,
  .nodeChildren {
    display: none;
  }

  &.active {
    background-color: red;
  }
}

.widgy section.tabbed > .widget > .current {
  width: 63%;
  clear: left;
}
