@import "widgy_common.scss";

/* CMS
-------------------*/

%loading {
  background: url('../image/loading.gif') center no-repeat;
  color: transparent;
}

.widgy {
  -webkit-user-select: none;
  -moz-user-select: none;

  .editor {
    width: 960px;
    display: inline-block;

    .shelf {
      position: absolute;
      top: 0;
      right: -210px;

      li {
        cursor: pointer;

        &.placeholder {
          border: 1px dashed #000;
          background-color: wheat;
          display: block;
          margin: 0px;
          padding: 0px;
        }
      }
    }
  }

  // Node Container
  ul.nodeChildren {
    margin: 0 !important;
    padding: 0 !important;

    li ul.nodeChildren {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .node {



    .content {
      -webkit-user-select: auto;
      -moz-user-select: auto;
    }

    p.drag-row {
      @include clearfix;
    }

    &.being_dragged {
      background-color: blue;
      margin: 0;
      position: fixed;
    }

    p.title {
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      margin-bottom: 10px;

      &.bucket {
        font-size: 18px;
        line-height: 24px;
        padding-top: 0px;
      }
    }

    button.edit,
    button.delete {
      display: inline;
      float: right;
      margin-left: 1em;

      &.loading {
        @extend %loading;
      }
    }

    .dragHandle {
      left: -5px;
      float: left;
      font-size: 20px;
      position: relative;
      cursor: pointer;
    }
  }

  .node_drop_target {
    background: #fff;
    height: 25px;
    padding: 10px;
    width: 100%;


    &.active {
      border: 1px dashed #000;
      height: 50px;
    }
  }

  /* Inputs
  -------------------*/

  input[type='text'], textarea {
    @include inset-shadow($black10,0px,1px,2px);
    border: 0px;
    font-weight: normal !important;
    padding: 6px 4px 5px;
  }

  textarea {
    height: 120px;
  }
}



/* Global
-----------------------------------------------*/
.change-form div.submit-row {
  z-index: 1000;
}




.widgy {

  /* Node overwrites
  --------------------*/
  section.node {
    width: 966px;
    float: left;
  }

  /* Image Widget
  -------------------*/

  .vFileBrowseField {display:none;}

  p.image-thumbnail {
    @include rounded(3px);
    background: white;
    display: block !important;
    margin: 0px 0px 10px 0px;
    padding: 15px;
    text-align: center;

    img {
      border: 0px;
      margin: 0 auto;
      padding: 0px;
      width: 60%;
    }
  }

  /* Text Widget
  -------------------*/

  p.text-input {
    @include clearfix;
    margin: 20px 0px 20px 0px;

    input[type='text'], textarea {
      width: 98%;
    }
  }


  /* File Select
  -------------------*/

  p.file-select {
    @include clearfix;
    margin: 0px 0px 20px 0px;

    input[type='text'] {
      float: left;
      width: 70%;
    }

    button {
      float: right;
    }
  }

  /* Submit Row
  -------------------*/

  p.submit-row {
    @include rounded(3px);
    background: $white20;
    margin: 0px;
    padding: 4px;
  }

  /* Buttons
  -------------------*/

  button {
    background: $blue;
    height: auto;

    &:hover {
      background-color: lighten($blue,10%);
    }

    &.cancel {
      background: $darkgrey;
      opacity: 0.7;

      &:hover {
        background-color: lighten($darkgrey,10%);
        opacity: 1;
      }
    }

    &.edit {
      padding: 2px;
    }

    &.delete {
      background-color: $red;
      color: white;
      height: auto;
      padding: 2px;
      &:hover {
        background-color: lighten($red,10%);
      }
    }
  }

  input[type='submit'] {
    background: $green;
    height: auto;

    &:hover {
      background-color: lighten($green,5%);
    }

    &.loading {
      @extend %loading;
    }
  }

  // node overlay
  .overlay {
    position: absolute;
  }
}

// global overlay
.overlay {
  position: fixed;
  background-color: rgba(255, 255, 255, .3);
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 10px #999999;
  -moz-box-shadow: 0px 0px 10px #999999;
  -webkit-box-shadow: 0px 0px 10px #999999;
  position: fixed;
  width: 300px;
  z-index: 101;
  margin-top: -50px;
  margin-left: -150px;
}

.errorMessage {
  .modal {
    .serverResponse {
      font-weight: bold;
      font-family: monospace;
    }
  }
}


.node {
  .node {
    .shelf {
      &.empty {
        // a shelf without any widgets shouldn't be displayed at all
        display: none
      }

      position: static;
      h2 {
        display: inline-block;
        -webkit-transform: rotate(-90deg);
      }

      ul {
        display: inline;
        li {
          display: inline-block;
        }
      }
    }
  }
}


/* Esther New Styling */

body {
  font-size: 62.5%;
}

body, html {
  line-height: normal;
}

.widgy {
  .node {
    @include rounded(4px);
    background: $black10;
    border: 2px solid #fff;
    list-style: none;
    margin: 0 0 1em 0;
    padding: 10px;
    position: relative;

    span.title {
      font-size: 2.4em;
      padding: 5px 0;
    }

    p.drag-row {
      padding: 1em 0;
    }

    > .content {
      > span.title{
        font-weight: bold;
      }

      > div.preview:not(:empty)  {
        margin-bottom: 2em;
      }
    }

    .node {
      background: #fff;
      border: 1px solid #fff;

      span.title {
        font-size: 1.4em;
        padding: 5px 0;
      }


      .node {
        background: $black10;


        .shelf .node {
          margin-left: 1em;
        }

        .node {
          background: #fff;


          .node {
            background: $black10;
          }
        }
      }

    }
  }


  div.preview:not(:empty) {
    border: 1px solid #E8E8E8;
    padding: 1em;
  }
}

.widgy .node.widgy.unknownwidget {
  background-size: 50px 50px;
  background-color: #CCCCCC;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
}

.widgy .node.invisible {
  background-color: inherit;
  padding: 0;
  border: 0 none;
}


/* Mezzanine Override */

input[type="text"],
input[type="password"],
input.vDateField,
input.vTimeField,
.change-list form table .vAutocompleteSearchField,
.change-list form table .vM2MAutocompleteSearchField,
.inline-tabular .vAutocompleteSearchField,
.inline-tabular .vM2MAutocompleteSearchField {
  width: 200px;
}
