@import "common";

.widgy {
  -webkit-user-select: none;
  -moz-user-select: none;

  .editor {
    width: 960px;
    display: inline-block;

    .shelf {
      position: absolute;
      top: 0;
      right: -210px;
    }
  }

  // Node Container
  ul.nodeChildren {
    margin: 0 !important;
    padding: 0 !important;
    
    li ul.nodeChildren {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .node {
    @include rounded(4px);
    background: $black10;
    list-style: none;
    margin: 1em;
    padding: 10px;
    position: relative;
    

    .content {
      -webkit-user-select: auto;
      -moz-user-select: auto;
    }

    p.drag-row {
      @include clearfix;
    }

    &.being_dragged {
      background-color: blue;
      margin: 0;
      pointer-events: none; /* leave this per Rocky's request */
      position: fixed;
    }
    
    p.title {
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      margin-bottom: 10px;
      
      &.bucket {
        font-size: 18px;
        line-height: 24px;
        padding-top: 0px;
      }
    }
    
    button.edit {
      position: absolute;
      right: 79px;
      top: 10px;
      z-index: 10;
    }
    
    button.delete {
      float: right;
    }
    
    .dragHandle {
      left: -5px;
      float: left;
      font-size: 20px;
      position: relative;
    }
  }

  .node_drop_target {
    width: 100%;
    height: 25px;
    background-color: yellow;

    &.active {
      height: 50px;
      outline: 1px dashed red;
    }
  }

  /* Inputs
  -------------------*/
  
  input[type='text'], textarea {
    @include inset-shadow($black10,0px,1px,2px);
    border: 0px;
    font-weight: normal !important;
    padding: 6px 4px 5px;
  }
  
  textarea {
    height: 120px;
  }
}



/* Global
-----------------------------------------------*/
.change-form div.submit-row {
  z-index: 1000;
}
