.widgy {
  .editor {
    width: 500px;
    display: inline-block;
  }

  .toolbox {
    float: right;
  }

  // Node Container
  .nodeChildren {
    padding: 0;
  }

  .node {
    border: 1px #000 solid;
    list-style: none;
    margin: 1em;
    padding: 0;

    &.being_dragged {
      background-color: blue;
      margin: 0;
      pointer-events: none;
    }

    .delete {
      float: right;
      background-color: red;
      color: white;
    }
  }

  .node_drop_target {
    width: 100%;
    height: 50px;
    background-color: yellow;

    &.active {
      outline: 1px dashed red;
    }
  }
}
