@import "widgy_common.scss";


/* Mixins
-----------------------------------------*/


@mixin button {
  @include rounded(3px);
  background: transparent;
  border: 1px solid $blue;
  color: $blue;
  cursor: pointer;
  display: inline-block;
  height: auto;
  font-weight: bold;
  padding: 2px;
  width: auto;

  &:hover {
    background: lighten($blue,35%);
    color: $blue;
  }

  &.cancel {
    border-color: $grey;
    color: $grey;
    
    &:hover {
      background: lighten($lightgrey,15%);
    }
  }
  
  &.delete {
    border-color: $red;
    color: $red;
    
    &:hover {
      background: lighten($red,35%);
    }
  }
  
  &.loading {
    @extend %loading;
  }
  
  &[type='submit'] {
    @include rounded(3px);
    border-color: $green;
    color: $green;
    height: auto;
    font-weight: bold;
    padding: 2px !important;
    
    &:hover {
      background: lighten($green,50%);
    }
  }
  
}



/* Placeholder selectors
-----------------------------------------*/
%loading {
  background: url('../image/loading.gif') center no-repeat;
  color: transparent;
}


/*| Basic Layout
-----------------------------------------*/
body {
  font-size: 62.5%;
  line-height: 62.5%;
}

body, html {
  line-height: normal;
}


/*| Overlay & Overrides
-----------------------------------------*/
.overlay {
  position: fixed;
  background-color: rgba(255, 255, 255, .3);
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal {
  @include rounded(5px);
  @include shadow(#999999, 0px, 0px, 10px);

  display: block;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  width: 300px;
  z-index: 101;
  margin-top: -50px;
  margin-left: -150px;
}


// Mezzanine Override
input[type="text"],
input[type="password"],
input.vDateField,
input.vTimeField,
.change-list form table .vAutocompleteSearchField,
.change-list form table .vM2MAutocompleteSearchField,
.inline-tabular .vAutocompleteSearchField,
.inline-tabular .vM2MAutocompleteSearchField {
  width: 200px;
}

.change-form div.submit-row {
  z-index: 1000;
}

form .aligned p.keywords-field {
  clear: left;
}

/* Widgy
-------------------*/
    
li.node_drop_target {
  @include rounded(3px);
  border: 2px dashed $green !important;
  background: white !important;
  font-size: 1.4em !important;
  font-style: italic !important;
  height: auto !important;
  margin-bottom: 1em !important;
  padding: 1em !important;

  &.active {
    border: 2px dashed darken($green,10%) !important;
    background: lighten($green,40%) !important;
    color: $darken($green,10%) !important;
  }
}

@mixin widgetNodeChildren {
  margin: 0 !important;
  padding: 0 !important;
  
  // (basic editor nodes: li.node.form_builder.form...)
  li.node {
    @include rounded(4px);
    @include shadow($black10,1px,1px,0px);
    @include inset-shadow(transparent,0px,0px,0px);
    background: white;
    list-style: none;
    overflow: hidden;
    padding: 0px;
    margin: 0 0 1em 0;

    &:hover {
      cursor: pointer;
    }

    // specific node styles
    &.invisible {
      background-color: inherit;
      padding: 0;
      border: 0 none;

      & > .widget > .nodeChildren:empty {
        display: none;
      }
    }

    &.unknownwidget {
      background-size: 50px 50px;
      background-color: #CCCCCC;
      background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
      background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    }


    // drag & drop styles
    &.being_dragged {
      @include shadow(#999999, 2px, 2px, 5px);
      background-color: blue;
      margin: 0;
      position: fixed;
    }
    
    div.widget {
      background: white;
      padding: 0px;
      
      p.drag-row {
        @include clearfix;
        @include gradient(#eee,#fff);
        display: block;
        float: none;
        height: 22px;
        margin: 0px;
        padding: 10px;
        width: auto;
        
        span.title {
          font-size: 15px;
          font-weight: normal;
        }

        button.edit,
        button.delete {
          float: right;
          margin-left: 1em;
        }

        .dragHandle {
          left: -5px;
          float: left;
          font-size: 20px;
          position: relative;
          cursor: pointer;
        }                      
      }

      // Widget Form / Editor
      div {
        div {
          @include clearfix;
          padding: 0px;
          position: relative;

          &.formField {
            margin-bottom: 10px;
            
            &.image {
              padding-left: 80px;
              position: relative;
              
              label {
                display: none;
              }
              
              img {
                left: 5px;
                position: relative;
                
                &.quiet {
                  left: 10px;
                  position: absolute;
                  top: 10px;
                }
              }
              
              a.related-lookup {
                float: right;
                height: 10px;
                top: 21px;
              }
              
              input {
                float: left;
                margin-top: 6px;
                width: 86%;
              }
              
            }

            .cke {
              float: right;
            }
          }

          label {
            clear: left;
            padding: 0 10px 10px 0;
          }

          textarea {
            max-width: 98.5%;
            width: 98.5%;
          }
          
          .cancel {
            position: absolute;
            right: 65px;
            top: 0px;
          }
        }

        .pagedown-buttonbar {
          clear: both;
          margin: 0px 0px 10px 0px;

          ul {
            margin: 0px;
          }
        }

        .pagedown-preview {
          @include html;
          @include rounded(3px);
          border: dashed 1px $lightgrey;
          margin: 10px 0px;
          padding: 9px;
        }
      }

      input[type='submit'] {
        @include button;
        float: right;
      }

      div.preview {
        padding: 0;
  
        &:not(:empty) {
          padding: 1em;
        }
      }
      
      // nested editors within editors
      ul.nodeChildren {
        li.node, li.node_drop_target  {
          margin: 1em;
                  
          &.tableheader {
            border: 0px;
            padding: 0px 30px;
          
            > div.widget {
              > p.drag-row {
                background: white;
                padding: 0px;
                position: relative;
          
                span.dragHandle {
                  font-size: 15px;
                  left: 0px;
                  top: 2px;
                }
          
                span.title {
                  display: block;
                  font-size: 13px;
                  line-height: 22px;
                  padding: 0px;
                }
          
                button.delete {
                  font-size: 8px;
                  line-height: 1em;
                  padding: 1px;
                  position: absolute;
                  top: 4px;
                  right: 4px;
                  z-index: 1000;
            
                  i {
                    width: 1em;
                  }
                }
              }
              
              ul.nodeChildren {
                li.tableheaderdata {
                  @include rounded(0px);
          
                  > div.widget {
                    > p.drag-row {
                      background: white;
                      padding: 0px;
                      position: relative;
                
                      span.dragHandle {
                        font-size: 15px;
                        left: 0px;
                        top: 2px;
                      }
                
                      span.title {
                        color: $grey;
                        display: block;
                        font-size: 11px;
                        line-height: 22px;
                        padding: 0px;
                      }
                
                      button.delete {
                        font-size: 8px;
                        line-height: 8px;
                        padding: 3px 0px 1px 1px;
                        position: absolute;
                        top: 3px;
                        right: 3px;
                        z-index: 1000;
                  
                        i {
                          width: 1em;
                        }
                      }
                    }
                  
                    // regular editors within table header cells
                    ul.nodeChildren {
                      width: auto !important;
                      
                      li {
                        div.widget {
                          p.drag-row {
                            span.dragHandle {
                              font-size: 13px;
                            }
                            
                            span.title {
                              font-size: 12px;
                            }
                            
                            button {
                              font-size: 10px;
                              line-height: 1em;
                              margin-left: 0.5em;
                              padding: 1px;
                              
                              span {
                                display: none;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          } // tableheader
          
          &.invisible {
            background: transparent;
            border: 0px;
            margin: 0px;
            overflow: visible;
            padding: 0px 30px;
            
            div.widget {
              ul.nodeChildren {
                
                li.node.tablerow {
                  border: 0px;
                  overflow: visible;
                  
                  > div.widget {
                    
                    > p.drag-row {
                      height: 0px;
                      padding: 0px;
                      
                      span.dragHandle {
                        font-size: 14px;
                        left: -30px;
                        position: absolute;
                        top: 3px;
                      }
                
                      button.delete {
                        font-size: 8px;
                        line-height: 8px;
                        padding: 3px 0px 1px 1px;
                        position: absolute;
                        top: 3px;
                        right: -30px;
                        z-index: 1000;
                  
                        i {
                          width: 1em;
                        }
                        
                        span {
                          display: none;
                        }
                      }
                    }
                      
                    ul.nodeChildren {
                      border: 0px;
                      
                      > li.node.tabledata {
                        @include rounded(0px);
                  
                        > div.widget {
                          min-height: 20px;
                          
                          > p.drag-row {
                            background: white;
                            height: 0px;
                            padding: 0px;
                          }
                        }
                      }
                      
                      // Regular editors within table cells
                      li {
                        div.widget {
                          p.drag-row {
                            span.dragHandle {
                              font-size: 13px;
                            }
                            
                            span.title {
                              font-size: 12px;
                            }
                            
                            button {
                              font-size: 10px;
                              line-height: 1em;
                              margin-left: 0.5em;
                              padding: 1px;
                              
                              span {
                                display: none;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
    
    // major section container styles
    &.maincontent,
    &.sidebar {
      background: transparent;
      padding: 10px;
      
      > div.widget {
        background-color: transparent;
        
        > p.drag-row {
          background: transparent;
          padding-bottom: 0px;
          
          > span.title {
            font-weight: bold;
            font-size: 20px;
            text-transform: capitalize;
          }
        }
      }
    }
    

    
    // internal shelves (form, email widget)
    div.shelf {
      border-bottom: 2px solid $lightgrey;
      display: block;
      float: none;
      margin: 10px;
      padding: 0px 0px 10px 0px;
      width: auto;

      p.title {
        display: none; // hide the form widgets label
      }
      
      > ul.list.nodeChildren {
        // inner shelfItem stacking
        
        li.drag_placeholder {
          display: inline-block;
          height: 8px;
          padding: 1px 2px; // account for the border
          width: auto;
        }
        
        li.shelfItem {
          display: inline-block;
          padding: 1px 1px 1px 1px;
          width: auto;

          span.title {
            background-position: 5px 5px;
            font-size: 11px;
            padding: 2px 0px 2px 26px;
          }

          span.icon-move {
            float: right;
            margin-top: 4px;
          }
        }
      }
    }
    
  }
}

// widgy wrapper
div.widgy {
  @include clearfix;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  
  // editor wrapper
  div.editor {
    background: $reallylightgrey;
    display: inline-block;
    width: 100%;
  
    // another wrapper
    section.node {
      @include rounded(0px);
      @include clearfix;

      display: block;
      float: none;
      margin: 0 !important;
      padding: 15px 10px;
      width: auto;

      // node overlay
      .overlay {
        position: absolute;
      }
      
      // only the first widget/title-bar goes full-width
      > div.widget {
        @include default;
        @include clearfix;
  
        span.title {
          font-family: "Open Sans";
          font-size: 2.4em;
          padding: 5px 0;
        }
      }
      
      // yet another wrapper
      div.widget {
      
        // title bar
        p.drag-row {
          // first span.title does something? not sure what this is for...
          & > span.title {
            background: transparent;
            padding: 5px 0 5px 0px;
          }
        }
        // hidden preview bucket
        div.preview {}
        
        // (widget shelf buttons)
        div.shelf {
          display: inline;
          float: right;
          position: relative;
          width: 35%;

          p.title {}
          
          ul.nodeChildren {
            display: inline;
            
            li.drag_placeholder {
              background: transparent;
              display: inline-block;
              height: 6px;
              margin: 0 4px 4px 0;
              padding: 5px 11px 5px 6px; // account for the border
              width: 185px;
            }
            
            li.shelfItem {
              @include gradient(#eeeeee,#ffffff);
              @include rounded(4px);
              @include shadow($black10,1px,1px,0px);
              @include inset-shadow(#ffffff,-1px,1px,0px);
              border: 1px solid #E0E0E0;
              cursor: pointer;
              display: inline-block;
              height: auto;
              list-style: none;
              margin: 0 4px 4px 0;
              padding: 5px 10px 5px 5px;
              width: 185px;
    
              span.icon-move {
                color: #999999;
                display: inline;
                float: right;
                font-size: 1.4em;
                margin-top: 8px;
              }
    
              span.title {
                background-position: 5px 9px;
                display: inline;
                float: left;
                font-size: 1.2em;
                line-height: 1.8em;
                padding: 5px 0 5px 30px;
              }
              
              &.being_dragged {
                position: fixed;
              }
            }
          }
        }
        
        // (only the first nodeChildren gets floated left, the other nested nodeChildren are full-width)
        > ul.nodeChildren {
          clear: left;
          width: 63%;
  
          ul.nodeChildren {
            width: 100%;
          }
        }
         
        // (actual editor sections: all .nodeChildren, first one contains the left-hand editor area)
        // TOP INSTANCE of .nodeChildren
        ul.nodeChildren {
          @include widgetNodeChildren; // moving this around to test tabbed/callout layouts
          
          li.node {
            div.widget {
              ul.nodeChildren {
                
              }
            }
          }
        }
      }
    }                

    .node.poppedOut {
      .drag-row button,
      .drag-row a,
      .nodeChildren {
        display: none;
      }
    }
  }
}   

@mixin node-icon ($class, $img) {
  &.#{$class} > span.title {
    background: url($img) no-repeat;
  }
}

li.node,
li.shelfItem {   
  border: 1px solid #E0E0E0;
     
  @include node-icon("accordion", "../image/widget-accordion.png");
  @include node-icon("button", "../image/widget-button.png");
  @include node-icon("calloutwidget", "../image/widget-callout.png");
  @include node-icon("demoaccordion", "../image/widget-accordion.png");
  @include node-icon("emailsuccesshandler", "../image/widget-email.gif");
  @include node-icon("emailuserhandler", "../image/widget-email.gif");
  @include node-icon("figure", "../image/widget-figure.png");
  @include node-icon("form", "../image/widget-form.gif");
  @include node-icon("forminput", "../image/widget-form.gif");
  @include node-icon("homebucket", "../image/widget-bucket.png");
  @include node-icon("html", "../image/widget-html.png");
  @include node-icon("image", "../image/widget-image.gif");
  @include node-icon("markdown", "../image/widget-code.gif");
  @include node-icon("miniboxes", "../image/widget-miniboxes.gif");
  @include node-icon("savedatahandler", "../image/widget-save-data.png");
  @include node-icon("section", "../image/widget-section.png");
  @include node-icon("slide", "../image/widget-slide.png");
  @include node-icon("submitbutton", "../image/widget-ok-button.png");
  @include node-icon("table", "../image/widget-table.gif");
  @include node-icon("tableheaderdata", "../image/widget-tablecolumn.png");
  @include node-icon("tablerow", "../image/widget-tablerow.png");
  @include node-icon("tabs", "../image/widget-tab.png");
  @include node-icon("textarea", "../image/widget-textarea.gif");
  @include node-icon("uncaptcha", "../image/widget-hidden-field.png");
  @include node-icon("upcomingevents", "../image/widget-calendar.png");
  @include node-icon("video", "../image/widget-video.gif");
}



/* Mezzanine Override */ 

input[type="text"], 
input[type="password"], 
input.vDateField, 
input.vTimeField, 
.change-list form table .vAutocompleteSearchField, 
.change-list form table .vM2MAutocompleteSearchField, 
.inline-tabular .vAutocompleteSearchField, 
.inline-tabular .vM2MAutocompleteSearchField {
  width: 200px;
}


/*| HTML and Markdown Preview Pane
-----------------------------------------*/

.htmlOutput {
  
  code {
    font-family: monospace;
  }
  
  ul {
    list-style: disc;
    padding: 0px 0px 0px 30px;
  }
  
  ol {
    list-style: decimal;
    padding: 0px 0px 0px 30px;
  }
}


/*| Button Styles
-----------------------------------------*/

.button,
button {
  @include button;
}


div.submit-row p {
  width: auto;
}


/*| Forms
-----------------------------------------*/

$inputFields: "input[type='text'], input[type='password'], input[type='email'], input[type='search'], input[type='number'], textarea";

#{$inputFields}, button {
  &:focus {
    @include inset-shadow(lighten($purple,15%), 0px, 1px, 3px);
    border-color: $purple;
  }
}

#{$inputFields} {
  @include rounded(3px);
  @include inset-shadow($black10,0px,1px,2px);
  border: 1px solid $lightgrey;
  font-weight: normal !important;
  padding: 6px 4px 5px;
}

textarea {
  height: 120px;
}



/*| Text Classes
-----------------------------------------*/
h1, h2, h3, h4, p, div.list, blockquote {
  display: inline;
  float: left;
  height: auto;
  width: 100%;
}

h1, h2, h3, h4, p, blockquote, table {
  margin: 0px 0px 12px 0px;
}

p.breadcrumb {
  border-bottom: 1px dotted #B4A485;
  color: #a79273;
  font-size: 12px;
  padding-bottom: 15px;
  
  a:link,
  a:visited {
    color: #896f4b;
    text-decoration: none;
  }
  
  a:hover,
  a:active {
    color: #664411;
    text-decoration: underline;
  }
}

h1 {
  color: #535353;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

h2 {
  color: #642d11;
  font-size: 22px;
  line-height: 28px;
}

h3 {
  color: #C1272D;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

h4 {
  color: #c1272d;
  font-size: 18px;
  font-weight: bold;
}

h5{
  color: #5b3b01;
  margin: 0px 0px 4px 0px;
}


p.title {
  color: #353535;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
}

span.title {
  color: #353535;
  font-family: "Open Sans";
}

/*| PopOut Styles
-----------------------------------------*/

.popOut {
  background: $reallylightgrey;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
  
  
  div.widgy {
    
    div.editor {
      background: white;
      
      section.node {
        ul.nodeChildren {
          @include widgetNodeChildren;
          list-style: none !important;
          
          li.node {
            padding: 0 !important;
            
            &.being_dragged {
              div.preview, div.shelf, ul {
                display: none !important;
              }
            }
            
            div.widget {
              p.drag-row {
                @include important-gradient(#eee,#fff);
                
                span.title {
                  font-size: 15px !important;
                  font-weight: normal !important;
                }
              }
              
              ul.nodeChildren {
                li.node {
                  margin: 1em !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*| Popup Forms and Confirmation Styles
-----------------------------------------*/

.popUp {
  width: 500px;
  
  #{$inputFields} {
    width: 98%;
  }
  
  .submitRow {
    margin-top: 10px;
    
    input, a.button {
      float: right;
      margin-left: 5px;
    }
  }
  
  .button {
    font-size: 12px;
    padding: 4px;
  }
}
