<!doctype HTML>
{% load compress %}
{% load pages_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{% block seo_description %}{% endblock %}" />
  <meta name="keywords" content="{% block seo_keywords %}{% endblock %}" />
  <title>{% block title %}Project name{% endblock %}</title>
  {% compress css %}
    {% block css %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static '/css/bootstrap-responsive.css' %}" />
     <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    {% endblock %}
  {% endcompress %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  {% endcompress %}
</head>
<body>
  {% block body %}
  {% page_menu 'pages/menus/top_nav.html' %}
  <style>
    .left_nav {
      float: left;
      width: 20%;
    }
    .container {
      float: right;
      width: 80%;
    }
  </style>
  <div class="left_nav">
      <div class="panel tree">{% page_menu "pages/menus/tree.html" %}</div>
  </div>

  <div class="container">
    {% block content %}
      {% block leftnav %}
      {% endblock %}
    {% endblock %}
  </div>
  {% endblock %}
</body>
</html>
