{% extends "base.html" %}
{% load widgy_tags %}
{% load pages_tags %}
{% load fusionbox_tags %}

{% block title %}{{ block.super }} - {{ page.title }}{% endblock %}

{% block seo_description %}{{ page.keywords_string }}{% endblock %}
{% block seo_keywords %}{{ page.description }}{% endblock %}

{% block breadcrumb %}
  <p>
  {% page_menu "pages/menus/breadcrumb.html" %}
  </p>
{% endblock %}

{% block content %}
  <nav>
    {% highlight_here %}
      {% page_menu "pages/menus/tree.html" %}
    {% endhighlight %}
  </nav>

  {% render page.get_content_model.root_node %}
{% endblock %}
