{% extends "base.html" %}

{% comment %}
Consider this deprecated.

This is here for the sake of backwards compatibility with old-style
defaultlayout templating. See https://github.com/fusionbox/django-widgy/pull/41
{% endcomment %}

{% load widgy_tags %}
{% load pages_tags %}
{% load compress %}
{% load staticfiles %}

{% block title %}{{ page.meta_title }} {{ block.super }}{% endblock %}
{% block css %}
{{ block.super }}
{% compress css %}
{% for scss_file in 'WIDGY_MEZZANINE_SITE'|scss_files %}
<link rel="stylesheet" href="{% static scss_file %}" type="text/x-scss">
{% endfor %}
{% endcompress %}
{% endblock %}

{% block js %}
{{ block.super }}
{% compress js %}
{% for js_file in 'WIDGY_MEZZANINE_SITE'|js_files %}
<script src="{% static js_file %}"></script>
{% endfor %}
{% endcompress %}
{% endblock %}

{% block seo_description %}{{ page.description }}{% endblock %}
{% block seo_keywords %}{{ page.keywords_string }}{% endblock %}

{% block breadcrumb %}
  <p>
  {% page_menu "pages/menus/breadcrumb.html" %}
  </p>
{% endblock %}

{% block leftnav %}
  <nav>
    {% page_menu "pages/menus/tree.html" %}
  </nav>
{% endblock %}

{% block content %}
  {% render_root page.get_content_model 'root_node' %}
{% endblock %}
