@import "/widgy/css/widgy_common.scss";

li.node,
li.shelfItem {
  @include node-icon-sprite("page_builder.accordion", "widget-accordion");
  @include node-icon-sprite("page_builder.buttonwidget", "widget-button");
  @include node-icon-sprite("page_builder.calloutwidget", "widget-callout");
  @include node-icon-sprite("page_builder.figure", "widget-figure");
  @include node-icon-sprite("page_builder.googlemap", "widget-google-map");
  @include node-icon-sprite("page_builder.html", "widget-html");
  @include node-icon-sprite("page_builder.image", "widget-image");
  @include node-icon-sprite("page_builder.markdown", "widget-code");
  @include node-icon-sprite("page_builder.section", "widget-section");
  @include node-icon-sprite("page_builder.tableheaderdata", "widget-tablecolumn");
  @include node-icon-sprite("page_builder.table", "widget-table");
  @include node-icon-sprite("page_builder.tablerow", "widget-tablerow");
  @include node-icon-sprite("page_builder.tabs", "widget-tab");
  @include node-icon-sprite("page_builder.video", "widget-video");
  @include node-icon-sprite("page_builder.unsafehtml", "widget-skull-and-crossbones");
}
