figure {
  display: block;

  &.left {
    display: inline;
    float: left;
  }
  &.right {
    display: inline;
    float: right;
  }
  &.center {
    margin: 0 auto;
    float: none;
  }
  figcaption {
    text-align: center;
    .title {
      display: block;
    }
  }
}
