@import "/widgy/css/widgy_common.scss";

.widgy .node.html {
  .htmlOutput {
    @include html;
    display: block !important;
    float: none !important;
    width: auto !important;

    code {
      font-family: monospace;
    }

    ul {
      list-style: disc;
      padding: 0px 0px 0px 30px !important;

      li {
        list-style-type: disc;
      }

      ol, ol li {
        list-style-type: decimal;
      }
    }

    ol {
      list-style: decimal;
      padding: 0px 0px 0px 30px !important;

      li {
        list-style-type: decimal;
      }

      ul, ul li {
        list-style-type: disc;
      }
    }
  }
}
