@import "/widgy/css/widgy_common.scss";

$table-cell-min-width: 120px;

// Layout
.widgy {
  .table {
    overflow: visible;

    > .widget > .nodeChildren {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  .node.tableheader, .node.tablerow {
    @extend %horizontalChildren;
  }

  .tableheaderdata, .tabledata {
    min-width: $table-cell-min-width;

    .nodeChildren {
      width: auto !important;
    }
  }
}

@import "table-theme.admin.scss";

