<script id="bucket" type="text/html">
  <h1>Bucket: {{ title }}</h1>
</script>

<style>
  .node {
    border: 1px #000 solid;
    margin: 1em;
  }

  .node_drag_placeholder {
    width: 100%;
    height: 50px;
    background-color: yellow;
  }

  .being_dragged {
    background-color: blue;
  }

  .repositioned {
    background-color: steelblue;
  }
</style>

<script id="text_content" type="text/html">
  <h2>Text Content</h2>
  <div class="preview">
    <p>Preview: {{ content }}</p>
  </div>
  <a href="" class="edit">edit</a>
</script>

<script id="edit_text_content" type="text/html">
  <form>
    <input type="text" name="content" value="{{ content }}">
    <input type="submit">
    <button class="cancel" type="button">cancel</button>
  </form>
</script>

<script id="node_view" type="text/html">
  <span class="drag_handle">drag</span>
  <div class="content"></div>
  <div class="children"></div>
</script>

<!-- for now, please put nothing inside that div -->
<script id="node_drag_placeholder" type="text/html">
  <div class="node_drag_placeholder"></div>
</script>
