<script id="bucket" type="text/html">
  <h1>Bucket: {{ title }}</h1>
</script>
<style>
  .bucket {
    border: 1px #000 solid;
    margin: 1em;
  }
</style>
<script id="text_content" type="text/html">
  <h2>Text Content</h2>
  <div class="preview">
    Preview:
    {{ content }}
  </div>
  <a href="" class="edit">edit</a>
</script>

<script id="edit_text_content" type="text/html">
  <form>
    <input type="text" name="content" value="{{ content }}">
    <input type="submit">
    <button class="cancel" type="button">cancel</button>
  </form>
</script>
