{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}
{% load fusionbox_tags %}
{% load literal_include %}

{% block extrahead %}{{ block.super }}
<script data-main="/static/widgy/js/main" src="{% static "widgy/js/require/require.js" %}"></script>
<script>
  require([ 'widgy' ], function(Widgy) {
    window.widgy = new Widgy('#app', {{ original.to_json|json }});
  });
</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
  <style>
    #app {
    }

    #app > .node {
      width: 500px;
    }

    .node {
      border: 1px #000 solid;
      margin: 1em;
    }

    .node.being_dragged {
      margin: 0;
      pointer-events: none;
    }

    .node_drop_target {
      width: 100%;
      height: 50px;
      background-color: yellow;
    }
    .node_drop_target.active {
      outline: 1px dashed red;
    }

    .being_dragged {
      background-color: blue;
    }

    .repositioned {
      background-color: steelblue;
    }

    .shelf {
      float: right;
    }

  </style>
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}
  {% if add %}
    {{ layout_form }}
  {% else %}
    <div id="app"></div>
  {% endif %}
{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
