Django>=1.4.0,<1.5.0
South
Werkzeug
django-argonauts
django-backupdb
django-cachebuster
django-compressor
django-debug-toolbar>=1.0.0
django-extensions
django-pyscss
django-require
django-treebeard==1.61
html2text
Mezzanine>=3.1.2
markdown
phonenumbers
pyScss>=1.2.0
Sphinx==1.2.2
sorl-thumbnail
mock==1.0.1
