-e git://github.com/fusionbox/django-fusionbox.git#egg=django_fusionbox
Django
South
Werkzeug
django-cachebuster
django-compressor
django-debug-toolbar
django-extensions
Mezzanine
pyScss==1.1.3
django-treebeard
psycopg2==2.4.5
Sphinx==1.1.3
