<p class="help mezz-fb-thumbnail image-thumbnail" id="help_{{ input_id }}">
    <a href="{{ image_url  }}" target="_blank" id="link_{{ input_id }}">
        <img id="image_{{ input_id }}" src="{{ image_url }}" class="preview">
    </a>
</p>

<form>
  <p class="file-select">
    <input id="{{ input_id }}" type="text" name="image" value="{{ image }}">
    <button class="upload action">Select Image</button>
  </p>
  <p class="submit-row">
    <button class="cancel" type="button">Cancel</button>
    <input type="submit" value="Save">
  </p>
</form>
