{% extends "admin/change_form.html" %}

{% load i18n %}

{% block content %}
<div id="content-main">
  {% block object-tools %}
  <ul class="object-tools">
    <li><a href="{{ download_url }}" download="{{ csv_file_name }}">{% trans 'Download as CSV' %}</a></li>
  </ul>
  {% endblock %}

  <table>
    <thead>
      <tr>
        {% for ident, header in headers.items %}
        <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        {% for ident, value in row.items %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
