<ul class="nav">
    {% for page in page_branch %}

      {% if page.in_menu %}
        <li{% if page.is_current_or_ascendant %} class="here"{% endif %}>
          {% if page.is_current %}
            <span class="nolink here">
          {% else %}
            <a href="{{ page.get_absolute_url }}"{% if page.is_current_or_ascendant %} class="here"{% endif %}>
          {% endif %}

            {{ page.title }}

          {% if page.is_current %}
            </span>
          {% else %}
            </a>
          {% endif %}
        </li>
      {% endif %}

    {% endfor %}
</ul>
