{% load pages_tags %}

{% if page_branch_in_menu %}

  {% for page in page_branch %}

    {% if page.in_menu or page.has_children_in_menu %}

      {% if page.is_primary and page.is_current_or_ascendant %}

        <h1 class="here">
          {% if page.in_menu and not page.is_current %}
            <a href="{{ page.get_absolute_url }}">
          {% endif %}
            {{ page.title }}
          {% if page.in_menu and not page.is_current %}
            </a>
          {% endif %}
        </h1>
        {% if page.has_children_in_menu %}
          <ul>
            {% page_menu page %}
          </ul>
        {% endif %}

      {% elif page.is_current_or_ascendant %}

        <li{% if page.is_current_or_ascendant  %} class="here"{% endif %}>

          {% if page.in_menu and not page.is_current %}
            <a href="{{ page.get_absolute_url }}"{% if page.is_current_or_ascendant %} class="here"{% endif %}>
          {% else %}
            <span class="nolink{% if page.is_current_or_ascendant %} here{% endif %}">
          {% endif %}

            {{ page.title }}

          {% if page.in_menu and not page.is_current %}
            </a>
          {% else %}
            </span>
          {% endif %}

          {% if page.has_children_in_menu %}
            <ul>
              {% page_menu page %}
            </ul>
          {% endif %}
        </li>

      {% endif %}

    {% endif %}

  {% endfor %}

{% endif %}
